@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(90deg, rgba(116, 41, 166, 1) 0%, rgba(205, 24, 24, 1) 50%, rgba(217, 149, 54, 1) 100%);
    font-family: 'Titillium Web',
        sans-serif;
}

.main-box {
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.search-bar {
    width: 250px;
    border: none;
    text-indent: 5px;
    border-bottom: 2px solid rgba(205, 24, 24, 1);
    margin-top: 20px;
    padding: 5px 0;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
    color: rgba(205, 24, 24, 1);
}

.search-bar::placeholder {
    color: rgba(205, 24, 24, 1);
}

.search-bar:focus {
    background-color: rgba(205, 24, 24, 1);
    color: white;
    border-bottom: 2px solid rgba(205, 24, 24, 1);
    transition: 0.6s;
    border-radius: 40px;
    text-indent: 10px;
}

.search-bar:focus::placeholder {
    color: white;
}

.info-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.temp {
    font-size: 35px;
    color: rgba(217, 149, 54, 1);
}

.min_max {
    font-size: 15px;
    color: rgba(116, 41, 166, 1);
}

.city_name {
    font-size: 45px;
    color: rgba(205, 24, 24, 1);
}